<div id="footer"
     class="text-center
              text-muted"
     style="text-align:center;
            overflow: hidden;
            position: fixed;
            bottom: 0;
            width: 100%;
            background-color:black;
            color:white"
    >Fix it Feliks and Phosphr developed 2019
</div>
