<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="w3-row" >
    <div class="w3-col" style="width:28%;height:10px;">
      <div></div>
    </div>
    <div class="w3-col" style="width:44%;height:100%;">
	    <div style="w3-display-topmiddle;text-align:center;font-size:20px;font-family:calibri;">
		      <img src="/images/omw.png">
          <br>
          <h2>Something went wrong... <%= status %></h2>
          <h4><%= err %></h4>
	    </div>
    </div>
    <div class="w3-col" style="width:28%;height:100%;">
	    <div></div>
	  </div>
</div>


</body>
<footer>
    <% include ../partials/footer %>
</footer>
</html>
